{% extends 'base.html' %}
{% block content %}
<section class="about">
    <h2 class="animated-title"><i class="fas fa-user"></i> About Me</h2>
    <div class="about-container">
        <div class="about-content">
            <p>
                MBA graduate with two years of experience as an App Quality Analyst, where I honed strong analytical skills and a data-driven approach to problem-solving. Now transitioning into Data Science with expertise in Python, SQL, and machine learning.
            </p>
        </div>
    </div>


    <h2><i class="fas fa-graduation-cap"></i> Educational Background</h2>
    <div class="timeline">
        <div class="timeline-item" style="--delay: 0s;">
            <div class="timeline-icon"><i class="fas fa-briefcase"></i></div>
            <div class="timeline-content">
                <h3>Besant Technologies</h3>
                <p>Data Science with AI (2024)</p>
            </div>
        </div>
        <div class="timeline-item" style="--delay: 0.3s;">
            <div class="timeline-icon"><i class="fas fa-building"></i></div>
            <div class="timeline-content">
                <h3>Karpagam College of Engineering</h3>
                <p>MBA in Marketing and Logistics (2022 - 2024)</p>
            </div>
        </div>
        <div class="timeline-item" style="--delay: 0.6s;">
            <div class="timeline-icon"><i class="fas fa-school"></i></div>
            <div class="timeline-content">
                <h3>Sri Krishna Arts and Science College</h3>
                <p>Bachelor of Commerce in Computer Application (2017 - 2020)</p>
            </div>
        </div>
    </div>



    <h2><i class="fas fa-certificate"></i> Certifications</h2>

    <div class="certifications-row">
        <div class="certification-card">
            <img src="/static/images/besant.png" alt="Certification Icon" class="cert-icon">
            <p>Certified Data Scientist with AI (Besant Technologies)</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/forage.png" alt="Certification Icon" class="cert-icon">
            <p>Forage: Power BI Job Simulation</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/udemy.png" alt="Certification Icon" class="cert-icon">
            <p>Udemy : Machine Learning Fundamentals [Python]</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/udemy.png" alt="Certification Icon" class="cert-icon">
            <p>Udemy : Introduction To Python Programming</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/udemy.png" alt="Certification Icon" class="cert-icon">
            <p>Udemy : Data Analysis with Excel and Power BI</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/unnamed.png" alt="Certification Icon" class="cert-icon">
            <p>Google: Certification for Google policies (internal)</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/unnamed.png" alt="Certification Icon" class="cert-icon">
            <p>Google: Search Engine Marketing (E-Marketing institute)</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/unnamed.png" alt="Certification Icon" class="cert-icon">
            <p>Google: Social Media Marketing (E-Marketing institute)</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/unnamed.png" alt="Certification Icon" class="cert-icon">
            <p>Google: The Future of Manufacturing Business: Role of Digital Technologies.</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/unnamed.png" alt="Certification Icon" class="cert-icon">
            <p> Google: Service Marketing: Integrating people, Technology, Strategy.</p>
        </div>
        <div class="certification-card">
            <img src="/static/images/ec.png" alt="Certification Icon" class="cert-icon">
            <p>Certified Ethical Hacker VII (EC Council ‘XPlore IT Corp Institute’)</p>
        </div>
    </div>

    <h2 class="skills-title"><i class="fas fa-cogs"></i> Skills</h2>
    <div class="skills-container">
        <div class="skill">
            <p>SQL Programming</p>
            <div class="progress-bar">
                <div class="progress" data-progress="95%"></div>
            </div>
        </div>
        <div class="skill">
            <p>Python Programming</p>
            <div class="progress-bar">
                <div class="progress" data-progress="85%"></div>
            </div>
        </div>
        <div class="skill">
            <p>Tableau</p>
            <div class="progress-bar">
                <div class="progress" data-progress="96%"></div>
            </div>
        </div>
        <div class="skill">
            <p>Power BI</p>
            <div class="progress-bar">
                <div class="progress" data-progress="95%"></div>
            </div>
        </div>
        <div class="skill">
            <p>Excel</p>
            <div class="progress-bar">
                <div class="progress" data-progress="80%"></div>
            </div>
        </div>
    
        <div class="skill">
            <p>Machine Learning</p>
            <div class="progress-bar">
                <div class="progress" data-progress="70%"></div>
            </div>
        </div>
        <div class="skill">
            <p>Deep Learning</p>
            <div class="progress-bar">
                <div class="progress" data-progress="60%"></div>
            </div>
        </div>
        <div class="skill">
            <p>MS Office</p>
            <div class="progress-bar">
                <div class="progress" data-progress="98%"></div>
            </div>
        </div>
        <div class="skill">
            <p>GIT and GITHUB</p>
            <div class="progress-bar">
                <div class="progress" data-progress="60%"></div>
            </div>
        </div>
    </div>
      

</section>
{% endblock %}


