{% extends 'base.html' %}

{% block content %}
<header class="hero">
    <h1><i class="fas fa-user"></i> Hello, I'm Ranjith</h1>
    <p><i class="fas fa-briefcase"></i> Data Science Enthusiast | <i class="fas fa-cogs"></i> App Quality Analyst | <i class="fas fa-chart-line"></i> Turning Data into Impactful Decisions</p>
</header>
<section class="about">
    <h2><i class="fas fa-info-circle"></i> Concerning me</h2>
    <p>Aspiring Data Scientist with an MBA and experience as an App Quality Analyst, skilled in <i class="fas fa-code"></i> Python, <i class="fas fa-database"></i> SQL, and <i class="fas fa-tachometer-alt"></i> Power BI. I specialize in statistical analysis, machine learning, and business intelligence to turn data into actionable insights. Passionate about solving complex business challenges and driving strategic decisions through data-driven solutions.</p>
</section>
{% endblock %}
